.landing-page {
    margin-top: 1svh;
    font-size: 7vh;
    color: #fff;
    padding: 15px;
    display: block;
    border: #90caf9;
    border-radius: 50px;
    border-style:solid;
    background-color: #90caf9;
  }