/*Navigation*/
.navigation-landing-page {
    list-style-type: none;
    margin: 0 150px;
    padding: 0;
    overflow: hidden;
    background-color: #90caf9;
  }
  
  .navigation-landing-page li {
    float: left;
  
  }
  .navigation-landing-page li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin: 0px 10px;
  }
  
  .navigation-landing-page li a:hover {
    background-color: #1565c0;
  }

  /*navigation-home-page*/
  .navigation-home-page {
    list-style-type: none;
    margin: 0 150px;
    padding: 0;
    overflow: hidden;
    background-color: #90caf9;
  }
  
  .navigation-home-page li {
    float: left;
  
  }
  .navigation-home-page li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin: 0px 0px;
  }
  
  .navigation-home-page li a:hover {
    background-color: #1565c0;
  }