.Icon {
    width: 55%;
    display: block;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
}

.homePageNewProject {
    float: left;
}

.newProjectPicture {
    width: 10%;
    display: block;
    margin-left: 150px;
    margin-top: 50px;
    border: 5px solid #555;
}

.projectPicture {
    width: 30%;

}

.permanent-icon-at-side {
    width: 10%;
    margin-left: auto;

}

.log-in-box {
  padding: 10px;
  
}

.auth-page-button {
  background-color: #2962ff;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.navigation-list {
  list-style-type: none;
  margin: 0 150px;
  padding: 0;
  overflow: hidden;
  background-color: #90caf9;
}

.navigation-list li {
  float: left;

}
.navigation-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 0px 10px;
}

.navigation-list li a:hover {
  background-color: #1565c0;
}

.app-standard {
  min-height: 100vh;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .Container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .Box {
    border: 1px solid yellowgreen;
    padding: 10px;
    margin-bottom: 20px;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  